<p>list works!</p>


<button (click)="orderAsc = !orderAsc">Ordenar {{ !orderAsc ? 'Asc': 'Desc' }} </button>
<select (change)="cambiarFiltro($event)">
  <option value="">Todas</option>
  <option value="activados">Activados</option>
  <option value="desactivados">Desactivados</option>
</select>

<ul>
  <li *ngFor="let li of (lista | orderlist:orderAsc | filter:filterStatus)"> {{li.name}}</li>
</ul>